{{ if .IsPage }}
  {{ $related := .Site.RegularPages.Related . | first 3 }}
  {{ if $related }}
    <aside class="related-posts" aria-labelledby="related-heading">
      <h2 id="related-heading">Related Posts</h2>
      <ul>
        {{ range $related }}
          <li>
            <article>
              <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
              {{ with .Description }}
                <p>{{ . }}</p>
              {{ else }}
                {{ with .Summary }}
                  <p>{{ . | plainify | truncate 100 }}</p>
                {{ end }}
              {{ end }}
              <time datetime="{{ .PublishDate.Format "2006-01-02" }}">
                {{ .PublishDate.Format "January 2, 2006" }}
              </time>
            </article>
          </li>
        {{ end }}
      </ul>
    </aside>
  {{ end }}
{{ end }}
